{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        // Ensure django.jQuery is defined
        if (typeof django !== 'undefined' && typeof django.jQuery === 'undefined') {
            django.jQuery = jQuery.noConflict(true);
        }
    </script>
    <script type="text/javascript" src="{% static 'admin/js/dukandaar_bill_filter.js' %}"></script>
{% endblock %}
